{% extends 'base.html.twig' %}

{% block title %}Организации{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% include 'organization/_controls.html.twig' %}
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="organizations" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Организация</th>
                            <th>Рег. номер</th>
                            <th>Наименование</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Организация</th>
                            <th>Рег. номер</th>
                            <th>Наименование</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    {% include 'organization/_controls.html.twig' %}
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'modals/delete.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>
        $(function () {
            let table = $("#organizations").DataTable({
                "columnDefs": [
                    // These are the column name variables that will be sent to the server
                    { "name": "abbreviatedName",   "targets": 0 },
                    { "name": "registrationNumber", "targets": 1 },
                    { "name": "fullName",   "targets": 2 },
                    { "name": "control",  "targets": 3, "orderable": false, "searchable": false },
                ],
                "ajax": {
                    "url": "{{ path('organization_datatables') }}",
                    "type": "POST"
                },
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "autoWidth": false,
                "paging" : true,
                "info" : true,
                "searching": true,
                "pageLength": 10,
                "order": [[0, 'asc']],
                "language": {
                    "url": "{{ asset('dist/json/dataTables.ru.lang.json') }}"
                }
            });

            $("#organizations").on("click", ".modal-delete-dialog", function() {
                $('#btn-modal-delete').attr("data-confirm-delete-id", $(this).attr('data-id'));
                $('#modal-delete').modal('show');
            });

            $("#modal-delete").on("click", "#btn-modal-delete", function() {

                let url = "{{path('organization_delete', { 'id': 0 }) }}";
                url = url.replace("0", $(this).attr('data-confirm-delete-id'));

                $.ajax({
                    type: 'post',
                    url: url,
                    data: { '_method':'delete','_token':'{{ csrf_token('delete-item') }}' },
                    dataType: 'json'
                }).done(function(data) {
                    table.ajax.reload(null, false);
                    if (data.messageError) {
                        toastr.error(data.messageError);
                    } else if(data.messageSuccess) {
                        toastr.success(data.messageSuccess);
                    }
                });

                $('#btn-modal-delete').attr("data-confirm-delete-id", null);
                $('#modal-delete').modal('hide');
            });
        });
    </script>

{% endblock %}