<div class='btn-group btn-group-sm'>
    <a href='{{ urlEdit }}' class='btn btn-info'><i class='fas fa-edit'></i></a>
    <button type='button' class='btn btn-sm btn-danger float-left modal-delete-dialog' data-toggle='modal'
            data-id='{{ idDelete }}'><i class='fas fa-trash'></i></button>
</div>