<div class="row">
    <div class="col-12">
        <a href="{{ path('task_goods_new') }}" class="btn btn-sm btn-success float-left mr-2 mb-1">{{ 'title.add'|trans }}</a>
        <button type="button" class="btn btn-sm btn-default invoice"><i class='fas fa-print'></i> {{ 'title.print'|trans }}</button>
    </div>
</div>
