<div class="row pt-2">
    <div class="col-4">
        <!-- Date range -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                        <span class="input-group-text">
                          <input type="checkbox" id="date-check">
                        </span>
                </div>
                <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                </div>
                <input type="text" class="form-control float-right" id="date-input">
            </div>
            <!-- /.input group -->
        </div>
        <!-- /.form group -->
    </div>

    <div class="col-4">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                        <span class="input-group-text">
                          <input type="checkbox" id="user-check">
                        </span>
                </div>
                <select class="form-control" id="user-select">
                    <option value="1000" selected="selected">Мои</option>
                    {% for key, department in departments %}
                        <option value="{{ key }}">{{ department|trans }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                        <span class="input-group-text">
                          <input type="checkbox" id="status-check">
                        </span>
                </div>
                <select class="form-control" id="status-select">
                    {% for key, status in statuses %}
                        <option value="{{ key }}">{{ status|trans }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
