{% extends 'base.html.twig' %}

{% block title %}Заявки на транспорт{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% include 'task_goods/_controls.html.twig' %}
                    {% include 'task_goods/_filter.html.twig' %}
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tasks-goods" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Код</th>
                            <th>Дата</th>
                            <th>Наименование груза, тара, вес</th>
                            <th>Организация</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Код</th>
                            <th>Дата</th>
                            <th>Наименование груза, тара, вес</th>
                            <th>Организация</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    {% include 'task_goods/_controls.html.twig' %}
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {% include 'modals/delete.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script>
        $(function () {

            let statusCheck = $('#status-check');
            let statusSelect = $('#status-select');

            $('#reservation').daterangepicker({
                startDate: moment().startOf('month'),
                endDate: moment().endOf('month'),
                locale: {
                    format: 'DD.MM.YYYY',
                    applyLabel: 'Принять',
                    cancelLabel: 'Отмена',
                    invalidDateLabel: 'Выберите дату',
                    daysOfWeek: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                    monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    firstDay: 1
                },
            });

            let table = $("#tasks-goods").DataTable({
                "columnDefs": [
                    // These are the column name variables that will be sent to the server
                    { "name": "id", "targets": 0 },
                    { "name": "dateTaskGoods", "targets": 1 },
                    { "name": "goods",   "targets": 2 },
                    { "name": "organization",   "targets": 3 },
                    { "name": "status",   "targets": 4 },
                    { "name": "control",  "targets": 5, "orderable": false, "searchable": false },
                ],
                "ajax": {
                    "url": "{{ path('task_goods_datatables') }}",
                    "type": "POST"
                },
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "autoWidth": false,
                "paging" : true,
                "info" : true,
                "searching": true,
                "pageLength": 10,
                "order": [[0, 'asc']],
                "language": {
                    "url": "{{ asset('dist/json/dataTables.ru.lang.json') }}"
                }
            });

            let state = table.state.loaded();
            if (state) {
                let colStatusSearch = state.columns[4].search;
                if (colStatusSearch.search) {
                    statusCheck.prop("checked", true);
                    statusSelect.val(colStatusSearch.search);
                }
            }
            
            $("#tasks-goods").on("click", ".modal-delete-dialog", function() {
                $('#btn-modal-delete').attr("data-confirm-delete-id", $(this).attr('data-id'));
                $('#modal-delete').modal('show');
            });

            $("#modal-delete").on("click", "#btn-modal-delete", function() {

                let url = "{{path('task_goods_delete', { 'id': 0 }) }}";
                url = url.replace("0", $(this).attr('data-confirm-delete-id'));

                $.ajax({
                    type: 'post',
                    url: url,
                    data: { '_method':'delete','_token':'{{ csrf_token('delete-item') }}' },
                    dataType: 'json'
                }).done(function(data) {
                    table.ajax.reload(null, false);
                    toastr.success(data.message);
                });

                $('#btn-modal-delete').attr("data-confirm-delete-id", null);
                $('#modal-delete').modal('hide');
            });

            statusCheck.on('change', function() {
                if (this.checked) {
                    table.column(4).search(statusSelect.val()).draw();
                } else {
                    table.column(4).search('').draw();
                }
            });

            statusSelect.on('change', function() {
                if (statusCheck.is(":checked")) {
                    table.column(4).search(statusSelect.val()).draw();
                }
            });

        });
    </script>

{% endblock %}